PORT=4007
MONGODB_URI=mongodb+srv://9898:989898@rp.c1wmqkj.mongodb.net/?appName=RP
CV_ANALYSIS_DB_NAME=lanka_talent_analysis
RESUME_STRENGTH_MODEL_SERVICE_URL=http://localhost:4009
REQUEST_TIMEOUT_MS=120000
