PORT=4006
NODE_ENV=development
JOB_SERVICE_URL=http://localhost:4004
INTERVIEW_ANSWER_MODEL_SERVICE_URL=http://localhost:4010
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/lanka_talent?appName=Cluster0
INTERVIEW_ANALYSIS_DB_NAME=lanka_talent_analysis
INTERVIEW_NLI_MODEL_ID=Xenova/nli-deberta-v3-xsmall
INTERVIEW_ANALYSIS_TIMEOUT_MS=120000
